print("Hesap Makinesi")
print("1. toplama yapacaksan habuna bas")
print("2. çıkarma yapacaksan habuna bas")
print("3. Çarpma yapacaksan habuna bas")
print("4. Bölme yapacaksan habuna bas")

secim = input("ne yapacaksun söyle bakayum uşağım (1/2/3/4): ")

sayi1 = int(input("İlk sayıyı gir bakayum: "))
sayi2 = int(input("İkinci sayıyı gir bakayum : "))

if secim == '1':
   print(sayi1,"+",sayi2,"=", sayi1+sayi2)

elif secim == '2':
   print(sayi1,"-",sayi2,"=", sayi1-sayi2)

elif secim == '3':
   print(sayi1,"*",sayi2,"=", sayi1*sayi2)

elif secim == '4':
   print(sayi1,"/",sayi2,"=", sayi1/sayi2)

else:
 print ("la yanliş sayıyı seçtun manyak herif")

_